@media screen and (min-width: 760px) {
  .sidebar-navbar-brand {
    margin-right: 0 !important;
  }

  .brand > h1 {
    font-size: 30px;
    font-weight: 500;
    color: black !important;
  }

  .nav-link > .nav-item {
    color: black !important;
  }

  .dropdown-toggle::after {
    content: none !important;
  }

  .dropdown-item:hover {
    background-color: whitesmoke !important;
  }

  .nav-pills .nav-link .nav-item:hover {
    color: black !important;
    font-weight: 700;
  }

  .nav-pills .nav-link .nav-item > i {
    padding-right: 10px;
  }

  .nav-pills .show > .nav-link {
    color: black !important;
  }

  .nav-pills .nav-link.active {
    background-color: whitesmoke !important;
    border-left: 2px solid tomato;
  }
}

@media screen and (max-width: 680px) {
  .sidebar-navbar-brand {
    margin-left: 0 !important;
  }

  .nav-pills .nav-link.active {
    background-color: transparent !important;
    color: white !important;
    border-left: 2px solid tomato;
  }
}
