.white-mode {
  a {
    color: black !important;
  }
  .nav-link > .nav-item {
    color: black !important;
  }
}

.dark-mode {
  a {
    color: white !important;
  }
  .nav-link > .nav-item {
    color: black !important;
  }
}

.nav-link {
  margin-right: 10px !important;

  > .nav-item {
    font-size: 16px;
    > i {
      width: 16px !important;
      height: 16px !important;
      margin-right: 10px;
    }
  }
  > .nav-item:hover {
    font-weight: 500;
  }
}